<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.appMobileMarx"
        version   = "1.0.0">

    <name>APP Mobile Marx</name>

    <description>
        Hello Marx Application Mobile 2017.
    </description>

    <author href="https://github.com/MARX5000/ProyectosMarx" email="marxitorfa@gmail.com">
        Marx Team 2017
    </author>

    <content src="index.html" />
<!--    <access origin="*" />    -->

</widget>